.addEventWrap {
	padding-top: 25px;
}
.leftWidget {
	width: 25%;
	padding: 0 55px;
	height: 100vh;
	background: #fff;
}
.dashMenu {
	margin-top: 20px;
}
.lnk_1 {
	font-size: 14px;
	padding: 16px 0;
	color: #000;
}
.active.lnk_1 {
	color: #3f90fc;
}
.icon_2 {
	width: 18px;
	margin-right: 7px;
}
.rightWidget {
	width: 75%;
	/* background: red; */
}
.dashHeading {
	font-size: 20px;
	padding: 15px 20px;
	/* background: red; */
}
.eventForm {
	background: #f4f7fc;
	width: 100%;
	padding: 50px 0;
	float: left;
	height: 100vh;
}
.creatForm {
	/* background: #fff; */
	width: 95%;
	margin: auto;
	/* padding: 30px; */
}
.formWrap {
	background: #fff;
	padding: 30px;
	float: left;
	width: 100%;
}
.formLeft {
	width: 47%;
	/* background: gray; */
	float: left;
}
.formLeft p {
	float: left;
	width: 100%;
	/* background: red; */
	margin: 0;
	font-size: 13px;
	padding-bottom: 15px;
}
.formLeft input {
	width: 100%;
	border: thin solid #c9c9c9;
	border-radius: 4px;
	padding: 4px 10px;
	float: ;
	float: left;
}
.p_2 {
	padding-top: 15px;
}
.formLeft textarea {
	width: 100%;
	min-height: 100px;
	border: thin solid #c9c9c9;
	border-radius: 4px;
}
.formRight {
	float: right;
	width: 47%;
}
.formRight p {
	font-size: 13px;
}
.date_5 {
	width: 100%;
	border: thin solid #c9c9c9 !important;
	padding: 0 10px !important;
	border-radius: 4px;
}
.p_7 {
	padding-top: 15px;
}

#inputimg {
	width: 100%;
	border: thin solid #c9c9c9;
	border-radius: 4px;
	padding: 4px 10px;
	float: ;
	float: left;
	display: none;
}
.upload {
	border: thin solid #0084ff;
	background: #e5f3ff;
	padding: 7px 28px 7px 15px;
	color: #0084ff;
	font-size: 14px;
	border-radius: 4px;
}
.upload img {
	width: 30px;
}
.eventSubmitBtn {
	background: #0084ff;
	border: none;
	padding: 5px 20px;
	color: #fff;
	border-radius: 4px;
	float: right;
	margin-top: 10px;
	font-size: 14px;
}
/*======== user list page style =========*/

.eventForm {
	background: #f4f7fc;
	width: 100%;
	padding: 50px 0;
	float: left;
	height: 100vh;
}
.userListWrap {
	background: #fff;
	width: 95%;
	margin: auto;
	padding: 20px 15px 10px 15px;
}
.table_1 {
	width: 100%;
}
.table_1 th {
	background: #f5f6fa;
	padding: 15px 15px;
	font-size: 14px;
	color: #686868;
	font-weight: normal;
}
.table_1 td {
	padding: 11px 15px;
	font-size: 14px;
}
.trash {
	background: #ff444a;
	border: none;
	width: 34%;
	margin: auto;
	padding: 5px 7px;
	border-radius: 4px;
}
.trash img{width: 100%}