.fwidth {float: left; width: 100%}
.left {float: left;}
.right {float: right;}
.App {
	   background: #f8fafc;
}
.hmbg { background: url(./component//Header/img/homeheaderbg.jpg) no-repeat #f8fafc; } 
.space {padding-bottom: 150px; }
